 
  

#parentbox {


border: 2px solid red;
display: box;
-webkit-box-orient: horizontal;
–moz-box-orient: horizontal;
width: 600px;
}

.highlight {
  background-color:#404044;
}

#box-1{
 
width: 100px;
height:50px;
 
}
#box-2{
border: 4px solid black;
width: 100px;
}
#box-3{
width: 100px;
}
#box-4{
width: 100px;
}