 * {
margin: 0px;
padding: 0px;
}
h1 {
font: bold 20px verdana, sans-serif;
}
h2 {
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{
display: block;
}

body {
width: 100%;
display: -moz-box;
display: -webkit-box;
-moz-box-pack: center;
-webkit-box-pack: center;
}

#wrapper{
max-width: 960px;
margin: 15px 0px;
display: -moz-box;
display: -webkit-box;
-moz-box-orient: vertical;
-webkit-box-orient: vertical;
-moz-box-flex: 1;
-webkit-box-flex: 1;
}

#main_header {
background: #FFFBB9;
border: 1px solid #999999;
padding: 20px;
}
#main_menu {
background: #CCCCCC;
padding: 5px 15px;
}

#main_menu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px verdana, sans-serif;
}

#container {
display: -moz-box;
display: -webkit-box;
-moz-box-orient: horizontal;
-webkit-box-orient: horizontal;
}

#main_section {
-moz-box-flex: 1;
-webkit-box-flex: 1;
margin: 20px;
}
#main_aside {
width: 220px;
margin: 20px 0px;
padding: 20px;
background: #CCCCCC;
}

#main_footer {
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}a
rticle {
background: #FFFBCC;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}


time {
color: #999999;
}a
rticle footer {
text-align: right;
} figcaption {
font: italic 14px verdana, sans-serif;
}