 body {
text-align: center;
}
#mainbox {
display: block;
width: 500px;
margin: 50px auto;
padding: 15px;
text-align: center; 
 
background: #DDDDDD;
border: 29px;
-moz-border-image: url("diamonds.png") 29 stretch;
-webkit-border-image: url("diamonds.png") 29 stretch;
border-image: url("diamonds.png") 29 stretch; 
}
  
#title {
  font: bold 36px MyNewFont, verdana, sans-serif;
  text-shadow: rgba(0,0, 0,0.5) 3px 3px 5px;
  color: hsla(6, 100%, 50%, 0.5);
}
 

ul {
  list-style: none;
  padding : 0;
  margin: 0;
}

.highlight {
  background-color : blue;
}
 